@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@font-face {
    font-family: "Segoe Custom";
    src: url("http://www.modern.ie/cdn/fonts/west-european/normal/latest.eot");
    src: local("Segoe UI"), url("http://www.modern.ie/cdn/fonts/west-european/normal/latest.woff") format("woff");
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    font-family: "Segoe Custom", sans-serif;
}

body {
	height: 100%;
    font-size: 14px;
    line-height: 1.428571429;
}

h1 {
    font-weight: normal;
    line-height: 1.1;
}

a {
    text-decoration: none;
}

/* HEADER */
.header {
    padding: 1.3em 0 1.1em .8em;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #454545;
}

/* HEADER: Logo */
.siteLogo {
    position: relative;
    margin: 0 auto;
    max-width: 1230px;
}

.siteLogo:before {
    position: absolute;
    top: -.2em;
    left: 0;
    width: 28px;
    height: 28px;
    background: url("../images/ie-logo.png") no-repeat;
    background-size: 28px;
    content: "";
    pointer-events: none;
}

.siteLogo a {
    display: block;
    padding-left: 2.8em;
}

.open-ie {
    padding: 0 0 .2em .4em;
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    line-height: 1em;
}

/* HEADER: Menu */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: .9em;
}

.menu-bar {
    display: inline-block;
    background-color: #454545;
}

.menu-item a {
    display: block;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-bottom: 5px solid;
    padding: .2em 1em;
    color: #fff;
    line-height: 1.5em;
}

.menu-item a:hover {
    color: #00abe1;
}

.menu-item-tools a {
    border-color: #0079c2;
}

.menu-item-articles a {
    border-color: #7fba00;
}

.menu-item-demos a {
    border-color: #833885;
}

.menu-item-involved a {
    border-color: #ff8c00;
}

/* HEADER: Other links */
.microsoft-logo {
    display: none;
}

.microsoft-logo a,
.tw {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.microsoft-logo a {
    width: 112px;
    height: 24px;
}
.icon-social {
    float: right;
    margin-top: 1.45em;
}
.tw {
    width: 30px;
    height: 26px;
    background: url("../images/twitter-logo.svg") no-repeat;
    background-size: 29px auto;
}

.icon-microsoft-logo {
  background-image: url(../images/microsoft-logo.png);
  width: 112px;
  height: 24px;
}

/* FOOTER */

footer {
    width: 100%;
    min-height: 35px;
    background-color: #404040;
}

.links {
    margin: 0 auto;
    padding-top: 8px;
    color: white;
    text-align: center;
    line-height: 20px;
}

.links a {
    margin-left: 25px;
    color: white;
    font-size: 12px;
}

.links a:hover {
    text-decoration: none;
}

@media screen and (min-width: 960px) {
    .microsoft-logo {
        display: block;
        float: right;
        margin: 1.4em 0 0 1.9em;
    }
    .icon-social {
        margin-right: 0;
    }
}

@media screen and (min-width: 820px) {
    .foot-center,
    .links {
        width: 800px;
    }
}

@media screen and (max-width: 819px) {
    .foot-center {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 524px) {
    .menu {
        max-width: 650px;
    }

    .links {
        display: none;
    }
}

@media screen and (max-width: 569px) {
    .header {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 570px) {
    .header {
        height: 51px;
        border-bottom: 10px solid #6d6e71;
        padding-left: 4%;
    }

    .menu-bar {
        position: absolute;
        top: 59px;
        width: 100%;
        left: 0;
        background: #282828;
    }
    .menu-item:first-child {
        margin-left: 4%;
    }
    .menu-item {
        float: left;
        display: inline-block;
    }

    .menu-item a {
        margin-bottom: -5px;
        padding: .5em 1.5em;
    }
}

@media screen and (min-width: 1220px) {
    .header {
        height: 42px;
        padding-left: 10px;
        padding-bottom: 0;
        background: -webkit-linear-gradient(left, #454545 50%, #282828 50%);
        background: -moz-linear-gradient(left, #454545 50%, #282828 50%);
        background: -o-linear-gradient(left, #454545 50%, #282828 50%);
        background: linear-gradient(to right, #454545 50%, #282828 50%);
    }
    .menu {
        max-width: 810px;
        position: relative;
        margin-top: -42px;
    }
    .menu-bar {
        height: 60px;
        position: static;
        width: inherit;
    }

    .menu-item:first-child {
        margin-left: 0;
    }

    .menu-item a {
        min-width: 7.5em;
        padding: 15px;
        border-bottom-width: 10px;
        font-size: 10px;
    }

    .menu-item span {
        display: block;
        font-size: 2.1em;
    }
}

@media screen and (max-width: 300px) {
    .icon-social {
        display: none;
    }
}